.accordion {
    cursor: pointer;
    width: 100%;
    border: none;
    text-align: left;
    outline: none;
    margin: 0 0 10px 0;

}

.activeCurr{
    margin: 0;
    
}
.activeCurr .cell{
    
}
.activeCurr h5, .activeCurr h6{
    
}
.activeCurr .tripTab:hover .tripBasicInfo{
    padding-top: 0;
}
.panel {
    padding: 10px 18px;
    display: none;
    margin: 0 0 10px 0;
    overflow: hidden;
    height: 500px;
    background: rgb(220,220,220);
}
