.accordion {
    cursor: pointer;
    width: 100%;
    border: none;
    text-align: left;
    outline: none;
    margin: 0 0 10px 0;
    padding: 10px;
    height: auto;
}


.panel {
    padding: 10px 18px;
    display: none;
    margin: 0 0 10px 0;
    overflow: hidden;
}

.question {
    background: #3a4147;
    color: rgba(255, 255, 255, .5);
    border: #3a4147 solid 1px;
    border-radius: 10px;
}

.question h5 {
    margin: 0;
    padding: 1px 10px;
}

.answer {
    display: none;
    overflow: hidden;
    margin: 0 0 10px 0;
    padding: 10px 18px;
    height: auto;
    color: #212529;
    background: rgb(220, 220, 220);
    border-radius: 0 0 10px 10px;
}

.tripTab {
    margin: 10px 0 0 0;
    padding: 0 15%;
    height: 300px;
    display: grid;
    color: #fff;
}

.tripTab:hover .tripBasicInfo {
    padding-bottom: 10px;
}

.activeCurrQ {
    margin: 0;
    border-radius: 10px 10px 0 0;
    color: #fff;
}


.activeCurr .cell {}

.activeCurr h5,
.activeCurr h6 {}



.activeCurr .tripTab:hover .tripBasicInfo {
    padding-top: 0;
}

@media only screen and (max-width: 1024px) {
    .tripTab {
        margin: 0;
    }
    .description{
        margin: 0;
    }
}