@import url('https://fonts.googleapis.com/css?family=Roboto');

body {
    line-height: 1.6em;
    font-family: 'Roboto', sans-serif;
    font-size: 14pt;
}

body h1, h2, h3 {
    text-transform: uppercase;
   
}

.header {
    margin: 100px 10% 70px;
}

.reservationFields {
    height: auto;
    margin: 0 10%;
    padding: 0;
    
}


.grid-4-col {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 20px;
   
   

}

.cell1 {
    grid-column-end: span 2;
    grid-row-start: span 4;
    margin: 0;
    padding: 0;
}



form {
    margin: 10px;
}

input {
    margin: 10px;
    padding: 12px 20px;
    box-sizing: border-box;
}

input[type=text],
textarea {
    width: 80%;
    border-radius: 5px;
    resize: both;
    border: 1px #dde1e6 solid;
    line-height: 0;
}




input[type=button],
input[type=submit],
input[type=reset] {
    background-color: #45729E;
    border: none;
    border-radius: 10px;
    color: white;
    text-decoration: none;
    cursor: pointer;
    transition: 0.75s;
}

input[type=button]:hover,
input[type=submit]:hover,
input[type=reset]:hover {
    background-color: #233065;
}


.cell2 {
    grid-column-end: span 2;
    margin: 20px;
    margin-top: 50px;
}

.cell3 {
    grid-column-end: span 2;
    margin: 20px;
}

.cell3 h3 {
    margin: 20px;
}

.cell3 p {
    margin: 20px;
}

select {
    width: 35%;
    padding: 16px 20px;
    margin: 30px;
    border: none;
    border-radius: 4px;
    background-color: #f1f1f1;
}

.time {
    margin-left: 20px;
}

.cell4 {
    grid-row-start: 5;
    align-items: right;
    margin: 0 20px 20px 20px;
}

.cell4 a {
    margin-left: 20px;
}

.cell4 a:link {
    color: #000;
    text-decoration: none;
}

.cell4 a:visited {
    color: #000;
    text-decoration: none;
}

.cell4 a:hover {
    color: rgb(160, 160, 160);
    text-decoration: none;
}

.cell4 a:active {
    color: rgb(90, 90, 90);
    text-decoration: none;
}

.cell6 {
    grid-column-end: span 2;
    margin: 20px;

}

.cell6 a {
    margin-left: 20px;
}

.cell6 a:link {
    color: #000;
    text-decoration: none;
}

.cell6 a:visited {
    color: #000;
    text-decoration: none;
}

.cell6 a:hover {
    color: rgb(160, 160, 160);
    text-decoration: none;
}

.cell6 a:active {
    color: rgb(90, 90, 90);
    text-decoration: none;
}


ul {
    list-style-type: none;
}

body {
    font-family: Verdana, sans-serif;
}

.month {
    padding: 20px 25px;
    background: #c7c8cc;
    text-align: center;
}

.month ul {
    margin: 0;
    padding: 0;
}

.month ul li {
    color: black;
    font-size: 20px;
    text-transform: uppercase;
    letter-spacing: 3px;
}

.month .prev {
    float: left;
    padding-top: 10px;
}

.month .next {
    float: right;
    padding-top: 10px;
}

.weekdays {
    margin: 0;
    padding: 10px 0 10px;
    background-color: white;
}

.weekdays li {
    display: inline-block;
    width: 13%;
    color: #666;
    text-align: center;
    font-size: 10px;
}

.days {
    padding: 10px 0;
    background: white;
    margin: 0;
}

.days li {
    list-style-type: none;
    display: inline-block;
    width: 13%;
    text-align: center;
    margin-bottom: 5px;
    font-size: 12px;
    color: #777;
}

.days li .active {
    padding: 5px;
    background: #666;
    color: white !important
}

.cell5 {
    grid-column-end: span 4;
    padding: 30px;
    margin-top: 20px;

}

.grid-6-col {
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    margin: 0 10% 50px;
  

}

.grid-6-col div {
    text-align: center;
    margin-top: 20px;
    font-size: 50px;
}

.grid-6-col div p {
    font-size: 10px;
    line-height: 1.5;
}

.pdf a {
    color: #8d8680;
    transition: 0.75s;
}

.pdf a:hover {
    color: #4f4b47;
    text-decoration: none;
}

h3 {
    margin: 0 10% 10px;
}

.text {
    margin: 0 10%;
}





/* Tablet Sized Screen */
@media only screen and (max-width: 1024px) {

    .grid-4-col {
        grid-template-columns: 1fr;
        display: inherit;
    }


    .cell5 {
        margin: 20px;
    }

    
    .reservationFields {
        line-height: 40px;
       
    }
    
    .header h1 {
        line-height: 40px;
    }
    
    .cell6 {
    margin-left: 20px;
}
    .grid-6-col {
        grid-template-columns:repeat(2, 1fr); 
    }
    

}

/* Phone Sized Screen */
@media only screen and (max-width: 480px) {
    
   .reservationFields {
        margin: 0;
    }
    .cell2 {
    margin: 0;
}
    .cell3 {
        margin: 0;
    }
    .cell4 {
        margin: 0;
    }
    .cell5 {
        margin: 0;
    }
    .cell6 {
    margin-left: 0;
        margin-top: 20px;
    }
    .grid-6-col {
        margin: 0; 
    }
    .header {
    margin: 20% 10% 70px;
    }
    .reservationFields {
    text-align: center;
    }
    
}
        
