.intro-name {
    width: 100%;
    position: absolute;
    top: 20%;
    margin: 0 auto;
    padding: 0 20px;
    z-index: 200;
    color: white;

}

.intro-name h1 {
    text-transform: uppercase;
    text-align: center;
    font-size: 54px;
}

.videoWrapper {
    position: relative;
    overflow: hidden;
    padding-top: 56.25%;
}

.videoWrapper iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border: 0;
}

.grid-3-col {
    text-align: center;
    width: 80%;
    margin: 0px auto 80px;
    display: grid;
    grid-template-columns: repeat(3, auto);
    grid-gap: 2vw;
}

.grid-3-col p {
    text-align: left;
    margin-bottom: 15px;
}

.grid-3-col h2 {
    font-size: 1em;
    text-transform: uppercase;
}

.grid-3-col .column a {
    margin: 0;
    padding: 20px;
    transition: 0.2s;
    color: #45729E;
    text-decoration: none;
}

.grid-3-col .column a:hover {
    color: #233065;
}

.icon img {
    width: 100px;
    height: 100px;
}

i {
    display: block;
    padding: 20px;
    color: white;
    font-size: 30px;
    transition: all, 0.3s;
}

i:hover {
    opacity: 0.5;
}

.emploee-wrapper {
    margin: 0 auto;
}

.main-contact {
    margin: 80px 20% 0;
}

.contactWrapper {
    margin: 0;
    padding: 0;
}

.contactWrapper label {
    margin: 0;
}

.contactWrapper textarea {
    height: auto;
    border-color: rgb(220, 220, 220);
    border-radius: 5px;
    margin: 0;
    width: 60%;
    padding: 0;
}

.contactWrapper input {
    width: 40%;
    margin-bottom: 1em;
}

.contactWrapper #comments {
    height: 120px;
    width: 60%;
}

.containerCheck {
    display: inline-flex;
    cursor: pointer;

}

.containerCheck input {
    margin-left: 40px;
    margin-right: 5px;
}

button {
    background-color: #45729E;
    color: #fff;
    border-radius: 10px;
    padding: 10px 10px;
    transition: 0.75s;
}

button:hover {
    background-color: #233065;
}

.negative {
    background-color: white;
    color: #45729E;
    border-color: #45729E;
}

#contact {
    margin: 30px 10px 0;

}

.intro {
    margin: 100px auto 0;
    text-align: center;
}

#left-all {
    display: inline-block;
    float: left;
    margin-bottom: 30px;
}

#left-all a {
    transition: 0.75;
    color: black;

}

#left-all a:hover {
    color: #777;
    text-decoration: none;
}

#rght {
    justify-content: flex-end;
    display: flex;
    float: right;
    margin-right: 40px;
}

.boat-section {
    text-shadow: 2px 2px 6px #000000;
    color: white;
    height: 400px;
    padding: 100px;
    margin: 10px 0;
    transition: 0.8s;
}

.boat-section:hover {
    padding-top: 115px;
}

.boat-section p {
    float: left;
}

.boat-section ul {
    list-style-type: square;
    padding: 15px;
}

.boat-section ul li {
    font-size: 0.8em;
    padding: 3px;
}

#canoe {

    background-image: url(../images/boats/patrick-hendry-705052-unsplash.jpg);
    background-position: center;
    background-size: cover;
}

#kayak {
    background-image: url(../images/boats/filip-mroz-169103-unsplash.jpg);
    background-position: center;
    background-size: cover;
}

#tube {
    background-image: url(../images/boats/oliver-sjostrom-585649-unsplash%20copy%20copy.png);
    background-position: center;
    background-size: cover;
}

/*for cellphones*/
@media only screen and (max-width: 480px) {


    .table-images {

        font-size: 0.4em;

    }

    .grid-3-col .column p {
        font-size: 13px;
        margin: 0 20px;
    }

    .videoWrapper iframe {
        height: 300px;
    }
    
    .grid-3-col p {
        margin-bottom: 20px;
    }

}

@media only screen and (max-width: 1024px) {
    .carousel-inner i {
        display: none;
    }

    .contactWrapper input {
        width: 100%;
    }

    .contactWrapper #comments {
        width: 100%;
    }

    .contactWrapper textarea {
        width: 100%;
    }

    .boat-section {
        padding: 15%;
        margin: 0 auto;
        height: 400px;
    }

    .intro-name {
        text-align: center;
        padding: 10%;
    }
}


@media only screen and (max-width: 850px) {

    .grid-3-col {
        grid-template-columns: 1fr;
    }

    .grid-3-col .column {
        margin: 0;
    }

    .grid-3-col p {
        margin-bottom: 20px;
    }

}

@media only screen and (min-width: 850px) {
    .boatsBody {
        margin: 0 10%;
    }
}
